# URL pública del backend desplegado (ej. en Render)
# Ejemplo: VITE_API_URL="https://control-materiales-backend.onrender.com"
# Nota: No incluir barra diagonal final (/)
VITE_API_URL="http://localhost:3000"
